
.input-component{
    border: 1px solid gray;
    width: 100%;
    height: 38px;
    padding: 10px;
}

#input-group{
    margin-bottom: 8px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }