@use "../../variables.scss";

.login {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 1024px) {
        flex-direction: column; // Para telas menores, os elementos serão empilhados.
    }
}

.box_background {
    width: 55%;
    background: url("/bg-login.jpg") right center no-repeat;
    background-size: cover;
    height: 100%; // Garante que a imagem cubra toda a altura disponível

    @media (max-width: 1024px) {
        width: 100%; // Ocupa 100% da largura em tablets
        height: 200px; // Adiciona altura mínima
        background-position: center; // Centraliza a imagem
    }

    @media (max-width: 767px) {
        display: none; // Esconde em telas muito pequenas
    }
}

.box_form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    flex-direction: column;
    gap: 20px; // Diminuído para telas menores

    @media (max-width: 1024px) {
        width: 100%; // Em telas médias, o form ocupa toda a largura
        padding: 15px; // Diminuído o espaçamento interno
    }

    @media (max-width: 767px) {
        width: 100%;
        padding: 10px; // Espaçamento menor para dispositivos menores
        gap: 10px; // Diminuído o espaçamento entre os itens
    }

    &_form {
        width: 100%; // Ajustado para ocupar toda a largura disponível
        
        @media (max-width: 767px) {
            width: 100%; // O formulário ocupa toda a largura em telas pequenas
            padding: 5px; // Espaçamento interno menor
        }

        &_button {
            background-color: variables.$corPrincipal;
            height: 45px; // Altura ajustada para telas menores
            border: 0;
            border-radius: 10px;
            font-weight: bold;
            margin-top: 10px; // Margem superior menor
            transition: all ease-in 300ms;

            &:hover {
                filter: brightness(0.9);
            }
        }
    }
}

.d-flex {
    @media (max-width: 767px) {
        justify-content: center; // Centraliza o link de cadastro em telas menores
    }
}
.button {
    background-color: #165d81;
    height: 50px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 15px;
    transition: all ease-in 300ms;
    width: 200px;

    &:hover {
        filter: brightness(0.9);
    }

}

.produto{
    width: 240px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;    
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;

    &_text{
        display: flex;
        flex-direction: column;
        width: 100%;

        &_nome{
            font-size: 20px;
            text-align: center;
            font-weight: 500;
        }

        &_preco{
            text-align: center;
            font-size: 26px;
            color: variables.$corPrincipal;
            font-weight: bolder;
        }  
    }

    &_button{
        background-color: variables.$corPrincipal ;
        height: 50px;
        border: 0;
        border-radius: 10px;
        font-weight: bold;
        transition: all ease-in 300ms;

        &:hover{
            filter: brightness(0.9);
        }
    }
}