#principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0C6A96; 
}

#principal-box{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}

.caixa{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 5px;
    min-width: 500px;
    flex: 1;
}
.caixa > *{
    margin: 10px;

}
.caixa-titulo{
    color: #0C6A96;
    font-size: 22pt;
    font-weight: bolder;
}
.caixa-subtitulo{
    font-size: 1em;

}
.caixa-input{
    width: 100%;
}
.caixa-input > input{
    width: 100%;
    padding: 12px 0px 12px 0px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid lightgrey;
}
.botao{
    background-color: #0C6A96;
    font-size: 12pt;
    color: white;
    padding: 10px 15px ;
    border-radius: 5px;
    width:200px;
    border: 0;
    transition: all 400ms;
}

.botao:hover{
    filter: brightness(0.9);
    box-shadow: 0 0 10px rgba(47, 47, 47, 0.322);
}

.head{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    
}
.head > img.icon{
    height: 72px;
    width: 72px;
    margin-right: 10px;
}
.head > .text{
    color: white;
    font-weight: bold;

}
